<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Fox Info</title>
</head>
<body>
<section>
    <ul>
        <li><a th:href="'#'">Information</a></li>
        <li><a th:href="'/nutritionstore'">Nutrition Store</a></li>
        <li><a th:href="'/trickcenter'">Trick center</a></li>
    </ul>
</section>
<section>
    <img src="images/greenfox.png" th:marginheight="'20px'"/>
</section>
<p th:object="${fox}"
   th:text="'This is ' + *{getName()} + '. Currently living on ' + *{getMyFood()} + ' and ' + *{getMyDrink()} + '. He knows ' + *{getKnownTricks()} + ' tricks.'"></p>
<h1 th:text="${fox.getKnownTricks()} == 0 ? 'No tricks in your pocket :(' : 'Known tricks:'">Known tricks</h1>
<ul th:each="trick : ${fox.myTricks}">
    <li th:text="${trick}" th:value="${trick.toString()}"></li>
</ul>
</body>
</html>