<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Nutrition Store</title>
</head>
<body>
<section>
    <ul>
        <li><a th:href="'/'">Information</a></li>
        <li><a th:href="'#'">Nutrition Store</a></li>
        <li><a th:href="'/trickcenter'">Trick center</a></li>
    </ul>
</section>
<section>
    <form th:action="@{/changeFood}" th:object="${myFox}" method="post">
        <label>Food</label>
        <select>
            <option th:each="type : ${foods}" th:text="${type}" th:value="${type}"></option>
        </select>
        <label>Drink</label>
        <select>
            <option th:each="type : ${drinks}" th:text="${type}" th:value="${type}"></option>
        </select>
        <button type="submit">Change</button>
    </form>
</section>

</body>
</html>