<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Trick center</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<section>
    <ul>
        <li><a th:href="'/'">Information</a></li>
        <li><a th:href="'/nutritionstore'">Nutrition Store</a></li>
        <li><a th:href="'#'">Trick center</a></li>
    </ul>
</section>
<section>
    <img src="images/trick.jpg" th:marginheight="'20px'"/>
</section>
<h1 th:text="${fox.getKnownTricks()} == 0 ? 'No tricks in your pocket :(' : 'Known tricks:'">Known tricks</h1>
<ul th:each="trick : ${fox.getMyTricks()}">
    <li th:text="${trick}"></li>
</ul>
<form action="#" th:action="@{/addTrick}" th:object="${tricky}" method="post">
    <label for="trick">Trick:</label>
    <input type="text" id="trick"/>
    <p><input type="submit" value="Learn"/></p>
</form>
</body>
</html>