<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Trick center</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<section>
    <ul>
        <li><a th:href="'/'">Information</a></li>
        <li><a th:href="'/nutritionstore'">Nutrition Store</a></li>
        <li><a th:href="'#'">Trick center</a></li>

    </ul>
</section>
<h2>Add new trick</h2>
<!--<form action="#" th:action="@{/trickcenter}" th:object="${myFox}" method="post">-->
    <!--<p>First Name: <input type="text" th:field="*{addTrick()}"/></p>-->
    <!--<p><input type="submit" value="Submit"/></p>-->
<!--</form>-->
</body>
</html>