main {
    box-sizing: border-box;
    height: 1000px;
    width: 820px;
    background-color: #dbd7cb;
    margin: 0 auto;
    position: absolute;
    color: #4f3862;
}

header {
    box-sizing: content-box;
    height: 42px;
    width: auto;
    align-self: auto;
    padding: 12px;
    margin-top: 12px;
    position: relative; 
}

h1 {
    margin-top: 4px;
    margin-left: 2em;

}

section.firstsection, section.secondsection  {
    display: inline-block;
    box-sizing: content-box;
    float: none;
    position: relative;
    height: 435px;
    width: 383px;
    align-self: auto;
    padding: 12px;
    margin: 17px 0 17px 0; 
}

section.firstsection {
    float: left;
}

section.secondsection {
    float: right;
}

section.thirdsection {
        display: inline-block;
        box-sizing: content-box;
        height: 184px;
        width: 820px;
        align-self: auto;
        padding: 12px;
        position: relative;
        margin-bottom: 250px;
}