main {
    box-sizing: border-box;
    height: 1000px;
    width: 820px;
    background-color: #dbd7cb;
    margin: 0 auto;
    position: absolute;
    color: #4f3862;
}

header {
    box-sizing: content-box;
    height: 42px;
    width: auto;
    align-self: auto;
    padding: 12px;
    margin-top: 12px;
    margin-left: 20px;
}

input {
    margin-bottom: 20px;
}

section.firstsection, section.secondsection  {
    display: inline-block;
    box-sizing: content-box;
    float: none;
    position: relative;
    height: 435px;
    width: 382px;
    align-self: auto;
    padding: 12px;
    margin: 17px 0 17px 0; 
}

section.firstsection {
    float: left;
}

section.secondsection {
    float: right;
}

div.szulev, div.nem {
    display: inline-block;
    box-sizing: content-box;
    position: relative;
    align-self: auto;
    padding: 3px;
    margin: 17px 0 17px 0; 
}

.szulev {
    width: 135px;
}

/* .nem {
    margin-left: 20px;
} */

span {
    display: inline-block;
    width: 50px;
    margin: auto auto auto auto;
}

span.checkbox-grid1, span.checkbox-grid2 {
    display: inline-block;
    box-sizing: content-box;
    line-height: 12px;
    font-size: 12px;
    width: 130px;
}

span..checkbox-grid2 {
    float: right;
}

/* div.checkbox-grid1 {
    display: inline-block;
    float: left;
    line-height: 12px;
    font-size: 11px;
}

div.checkbox-grid2 {
    display: inline-block;
    float: right;
    line-height: 12px;
    font-size: 11px;
    padding-right: 80px;
} */

section.firstsection:last-child {
    color: gray;
}

section.thirdsection {
        display: inline-block;
        box-sizing: content-box;
        height: 184px;
        width: 820px;
        align-self: auto;
        padding: 12px;
        position: relative;
        margin-bottom: 250px;
}
 textarea {
     width: 80%;
     height: 150px;
     align-self: auto;
     margin: auto;
     position: relative;
 }

.elfogad {
    line-height: 50px;
    vertical-align: middle;
    text-align: center;
    font-size: 35px;
    width: auto;
    margin: 30px 200px 40px auto;
    text-transform: capitalize;
    background-color: #4f3862;
    color: white;
    font-weight: bold;
    border-radius: 4px;     
}

.reset {
    line-height: 35px;
    vertical-align: middle;
    text-align: center;
    font-size: 25px;
    width: auto;
    margin-top: 30px;
    position: relative;
}