<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Bank information</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<table th:style="'border-collapse:collapse; width:80%; margin: 40px auto;'">
    <tr>
        <th th:style="'border: 2px solid black;'">INDEX</th>
        <th th:style="'border: 2px solid black;'">NAME</th>
        <th th:style="'border: 2px solid black;'">BALANCE</th>
        <th th:style="'border: 2px solid black;'">ANIMAL TYPE</th>
        <th th:style="'border: 2px solid black;'">IS KING?</th>
        <th th:style="'border: 2px solid black;'">IS GOOD GUY?</th>
    </tr>
    <tr th:each="acc : ${bank}" th:style="${acc.isKing} ? 'color:deeppink; font-weight: bold; font-style: italic;'">
        <td th:style="'border: 1px solid black; text-align:center;'" th:text="${accStat.index + 1}"></td>
        <td th:style="'border: 1px solid black;'" th:text="${acc.getName()}"></td>
        <td th:style="'border: 1px solid black;'" th:text="${#numbers.formatDecimal(acc.getBalance(), 0, 2)}"></td>
        <td th:style="'border: 1px solid black; text-align:center; font-weight:bold;'"
            th:text="${acc.getAnimalType()}"></td>
        <td th:style="'border: 1px solid black; text-align:center;'" th:text="${acc.isKing} ? 'KING' : 'NOT KING'"></td>
        <td th:style="'border: 1px solid black; text-align:center;'"
            th:text="${acc.isGood} ? 'Good guy' : 'Bad guy'"></td>
    </tr>
</table>

<form action="#" th:action="@{/increasebalance}" th:object="${account}" method="post">
<p><input type="submit" value="Increase balance" /></p>
</form>

<div th:style="'text-align: center; margin: 80px auto 20px auto; font-size: 32px'">HAKUNA MATATA!</div>
<iframe th:style="'display: block; margin: 0px auto;'" width="560" height="315"
        th:src="@{https://www.youtube.com/embed/7KtHYTbQ2wE?autoplay=1}" frameborder="0" allowfullscreen="1"></iframe>

</body>
</html>