<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Bank information</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
</head>
<body>
<table>
    <tr>
        <th>INDEX</th>
        <th>NAME</th>
        <th>BALANCE</th>
        <th>ANIMAL TYPE</th>
        <th>IS KING?</th>
        <th>IS GOOD GUY?</th>
    </tr>
    <tr th:each="acc : ${bank}" th:style="${acc.isKing} ? 'color:deeppink; font-style:bold; font-size:18px;'">
        <td th:text="${accStat.index + 1}"></td>
        <td th:text="${acc.getName()}"></td>
        <td th:text="${#numbers.formatDecimal(acc.getBalance(), 0, 2)}"></td>
        <td th:text="${acc.getAnimalType()}"></td>
        <td th:text="${acc.isKing} ? 'KING' : 'NOT KING'"></td>
        <td th:text="${acc.isGood} ? 'Good guy' : 'Bad guy'"></td>
    </tr>
</table>
</body>
</html>