<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
    <!--<link rel="stylesheet" th:href="${pageContext.request.contextPath}/resources/static/style.css" />-->
    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <meta charset="UTF-8"/>
    <title>Add new assignee</title>
</head>
<body>
<ul>
    <li><a th:href="@{/todo/list}">Return to homepage</a></li>
    <li><a th:href="@{/assignees}">Return to assignee list</a></li>
</ul>
<h2>Add your info</h2>
<table>
    <tr>
        <th></th>
        <th>Name</th>
        <th>E-mail</th>
        <th></th>
    </tr>
    <tr>
        <form action="/assignees/addnew" th:object="${newAss}" method="post">
            <td><input type="hidden" th:field="*{id}"/></td>
            <td><input type="text" th:field="*{name}"/></td>
            <td><input type="text" th:field="*{email}"/></td>
            <td>
                <button type="submit" value="Submit">Submit</button>
            </td>
        </form>
    </tr>
</table>
</body>
</html>