<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Assignees</title>
</head>
<body>
<ul>
    <li><a th:href="@{/todo/list}">Return to homepage</a></li>
</ul>
<h2>Assignees</h2>

<h4><a th:href="@{/assignees/addnew}">Add new assignee</a></h4>

<table th:style="'border-collapse:collapse; width:50%; margin: 40px auto auto 40px;'">
    <tr>
        <th>Name</th>
        <th>E-mail</th>
        <th>Delete</th>
        <th>Edit</th>
    </tr>
    <tr th:each="assignee : ${assignees}">
        <td><a th:href="@{/assignees/{id}/todos(id=${assignee.id})}" th:text="${assignee.getName()}"></a></td>
        <td th:text="${assignee.getEmail()}"></td>
        <td>
            <form action="#" th:action="@{'/assignees/{id}/delete'(id=${assignee.id})}">
                <button type="submit" id="submitButton">Delete</button>
            </form>
        </td>
        <td>
            <form action="#" th:action="@{'/assignees/{id}/edit'(id=${assignee.id})}">
                <button type="submit" id="submitButton">Edit</button>
            </form>
        </td>
    </tr>
</table>
</body>
</html>
