<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
    <meta charset="UTF-8"/>
    <title>Your todos</title>
</head>
<body>
<ul>
    <li><a th:href="@{/todo/list}">Return to homepage</a></li>
</ul>
<h2>Todos to do</h2>

<ul th:each="todo : ${assTodos}">
    <li th:text="${todo.getTitle()}"></li>
</ul>


</body>
</html>
