<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Edit todo</title>
</head>
<body>
<ul>
    <li><a th:href="@{/todo/list}">Return to homepage</a></li>
</ul>
<h2>Edit your todo here:</h2>
<table>
    <tr>
        <th></th>
        <th>Title</th>
        <th>Description</th>
        <th>Due date</th>
        <th>Urgent?</th>
        <th>Done?</th>
        <th>Assignee</th>
        <th></th>
    </tr>
    <tr>
        <form th:action="@{'/todo/list/{id}/edit'(id=${editedTodo.id})}" th:object="${editedTodo}" method="post">
            <td><input type="hidden" th:field="*{id}"/></td>
            <td><input type="text" th:field="*{title}"/></td>
            <td><input type="text" th:field="*{description}"/></td>
            <td><input type="date" th:field="*{dueDate}" th:value="(dueDate)"/></td>
            <td><input type="checkbox" th:field="*{isUrgent}" th:checked="*{isUrgent}"/></td>
            <td><input type="checkbox" th:field="*{isDone}" th:checked="*{isDone}" th:onclick="${isDone} ? false"/></td>
            <td>
                <select th:field="*{assignee}">
                    <option th:each="ass : ${assignees}" th:text="${ass.getName()}" th:value="${ass.getId()}"></option>
                </select>
            </td>
            <td>
                <button type="submit" value="Submit">Submit</button>
            </td>
        </form>
    </tr>
</table>
</body>
</html>
