<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Adding todo</title>
</head>
<body>
<ul>
    <li><a th:href="'list'">Return to homepage</a></li>
</ul>
<h2>Add your todo here:</h2>
<form action="@{/todo/addnew}" th:object="${newTodo}" method="post">
    <input type="hidden" th:field="*{id}"/>
    <input type="text" th:field="*{title}"/>
    <input type="checkbox" th:field="*{isUrgent}" th:value="'Urgent?'" />
    <input type="checkbox" th:field="*{isDone}" th:value="'Done?'"/>
    <button type="submit" value="Submit">Submit</button>
</form>
</body>
</html>