<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Adding todo</title>
</head>
<body>
<ul>
    <li><a th:href="@{/todo/list}">Return to homepage</a></li>
</ul>
<h2>Add your todo here:</h2>
<table>
    <tr>
        <th></th>
        <th>Title</th>
        <th>Urgent?</th>
        <th></th>
    </tr>
    <tr>
        <form action="/todo/list/addnew" th:object="${newTodo}" method="post">
            <td><input type="hidden" th:field="*{id}"/></td>
            <td><input type="text" th:field="*{title}"/></td>
            <td><input type="checkbox" th:field="*{isUrgent}" th:="'Urgent?'"/></td>
            <td>
                <button type="submit" value="Submit">Submit</button>
            </td>
        </form>
    </tr>
</table>
</body>
</html>