<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Todos</title>
</head>
<body>
<h1>Todos for today</h1>
<table th:style="'font-weight: normal'">
    <tr th:style="'font-weight: bold'">
        <th>ID</th>
        <th>ACTION</th>
        <th>DONE</th>
        <th>URGENT</th>
    </tr>
    <tr th:each="todo : ${todos}" th:style="'font-weight: normal'">
        <th th:text="${todo.getId()}"></th>
        <th th:text="${todo.getTitle()}"></th>
        <th th:text="${todo.isDone()}"></th>
        <th th:text="${todo.isUrgent()}"></th>
    </tr>
</table>
</body>
</html>