<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Todos</title>
</head>
<body>
<h1>Todos for today</h1>
<ul>
    <li><a th:href="'addnew'">Add new todo</a></li>
</ul>
<table th:style="'border-collapse:collapse; width:50%; margin: 40px auto auto 40px;'">
    <tr>
        <th>ID</th>
        <th>ACTION</th>
        <th>DONE</th>
        <th>URGENT</th>
    </tr>
    <tr th:each="todo : ${todos}">
        <td th:text="${todo.getId()}" th:style="'border-width: 1px; padding: 2px; border-style: inset; border-color: gray; background-color: white;'"></td>
        <td th:text="${todo.getTitle()}" th:style="'border-width: 1px; padding: 2px; border-style: inset; border-color: gray; background-color: white;'"></td>
        <td th:text="${todo.isDone()}" th:style="'border-width: 1px; padding: 2px; border-style: inset; border-color: gray; background-color: white;'"></td>
        <td th:text="${todo.isUrgent()}" th:style="'border-width: 1px; padding: 2px; border-style: inset; border-color: gray; background-color: white;'"></td>
    </tr>
</table>
</body>
</html>