<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <!-- Latest compiled and minified CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" />
    <!-- jQuery library -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>

    <!-- Latest compiled JavaScript -->
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

    <meta charset="UTF-8"/>
    <title>Todos</title>
</head>
<body th:style="'margin: 20px'">
<h1 class="page-header">Todos</h1>
<ul class="list-group" th:style="'width: 200px'">
    <li class="list-group-item"><a th:href="@{/todo/list/addnew}">Add new todo</a></li>
    <li class="list-group-item"><a th:href="@{/assignees}">List assignees</a></li>
</ul>
<div><a th:href="@{/todo/list?isActive=true}"> Show active</a></div>
<div><a th:href="@{/todo/list?isActive=false}">Only show inactive</a></div>

<div class="container">
    <div class="row">
        <div class="col-md-6 col-md-offset-3">
        </div>
    </div>
    <div class="row">
        <div class="col-md-4 col-md-offset-3">
            <form action="" class="search-form" th:action="@{/todo/list/search}" method="get">
                <div class="form-group has-feedback">
                    <label for="search" class="sr-only">Search</label>
                    <input type="search" class="form-control" name="search" placeholder="search"/>
                    <span class="glyphicon glyphicon-search form-control-feedback"></span>
                </div>
            </form>
        </div>
    </div>
</div>

<table class="table-hover" th:style="'width: 80%'">
    <tr>
        <th>ID</th>
        <th>ACTION</th>
        <th>DESCRIPTION</th>
        <th>CREATED AT</th>
        <th>DUE DATE</th>
        <th>DONE</th>
        <th>URGENT</th>
        <th>ASSIGNEE</th>
    </tr>
    <tr th:each="todo : ${todos}">
        <td th:text="${todo.getId()}"></td>
        <td th:text="${todo.getTitle()}"></td>
        <td th:text="${todo.getDescription()}"></td>
        <td th:text="${todo.getCreatedAt()}"></td>
        <td th:text="${todo.getDueDate()}"></td>
        <td th:text="${todo.getIsDone()} ? 'Good job, you\'re done!' : 'Still have to do that'"></td>
        <td th:text="${todo.getIsUrgent()} ? 'Urgent!' : 'Laziness buttON'"></td>
        <td th:text="${todo.getAssignee()} != null ? ${todo.getAssignee().getName()} : 'Noone assigned'"></td>
        <td>
            <form action="#" th:action="@{'/todo/{id}/delete'(id=${todo.id})}">
                <button class="btn" type="submit" id="submitButton"><span class="glyphicon glyphicon-trash"></span></button>
            </form>
        </td>
        <td>
            <form action="#" th:action="@{'/todo/list/{id}/edit'(id=${todo.id})}">
                <button class="btn" type="submit" id="submitButton"><span class="glyphicon glyphicon-edit"></span></button>
            </form>
        </td>
    </tr>
</table>

</body>

</html>
