* {
    margin: 0px;
}

p.box {
    font-family: sans-serif;
    font-size: 36px;
    text-align: center;
    line-height: 128px;
    vertical-align: middle;
    color: #ffffff;
    width: 385px;
    border-left: 16px solid #5d45f8;
    border-right: 16px solid #5d45f8;

}

p.first {
    background-color: #eb696b;
    border-top: 16px solid #5d45f8;
    height: 144px;
}

p.second {
    background-color: #e8ff55;
    height: 128px;
}

p.third {
    background-color: #a2e9e8;
    height: 128px;
}

p.fourth {
    background-color: #816de7;
    border-bottom: 16px solid #5d45f8;
    height: 144px;
}