

div {
    width: 381px;
    border: 16px solid #4285f4;
    margin: 5px;
    font-size: 36px;
    font-family: sans-serif;
    color: #ffffff;
}

p {
    line-height: 100px; /* was originally 128px*/
    vertical-align: middle;
    text-align: center;
}

.box1 {
    background-color: #e67676;
}

.box2 {
    background-color: #a9e6e6;
}
