body {
    font-size: 36px;
    font-family: sans-serif;
}

div {
    width: 381px;
    border: 16px solid #4285f4;
    /*border-right: 16px solid #4285f4;
    border-top: 16px solid #4285f4;
    border-bottom: 16px solid #4285f4;
}

p.first {
    border-top: 16px solid #4285f4;
}

p.second {
    border-bottom: 16px solid #4285f4;
} */