/*
p {
    font-size: 36px;
    font-color: 005368;
    border: width: 362px height: 143px;; 
    background-color: (0,143,163);
    border: 5px black   ;
} */

p{
    font-size: 36px;
    color: #005368;
    background-color: #008fa3;
    width: 362px;
    height: 143px;
    border-width: 5px;
    border-color: #6ade95;
}