p {
    font-size: 36px;
    font-family: sans-serif;
    color: #005368;
    background-color: #008fa3;
    width: 362px;
    height: 143px;
    border: 5px solid #6ADE94;
    padding-left: 13px;
    padding-top: 27px;
    margin: 8px 8px 16px 0px;
}