<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Search licence plates</title>
</head>
<body>
<h2>Licence plates</h2>
<form>
    <input type="text" name="q" />
    <input type="submit" value="go"/>
</form>

<a th:href="@{/search?police=1}" >Show police cars</a>
<a th:href="@{/search?diplomat=1}">Show diplomats</a>
<table>
    <tr>
        <th>Plate</th>
        <th>Brand</th>
        <th>Model</th>
        <th>Color</th>
        <th>Year</th>
    </tr>
    <tr th:each="car : ${cars}" th:object="${car}">
        <td th:text="*{plate}"></td>
        <td th:text="*{brand}"></td>
        <td th:text="*{model}"></td>
        <td th:text="*{color}"></td>
        <td th:text="*{year}"></td>
    </tr>
</table>

</body>
</html>