.navbar{
    background-color: #333333;
    font-family: Amatic SC;
    font-size: 25px;
    list-style-type: none;
}

.logo {
    padding-left: 10%;
    vertical-align: middle
}

ul {
    width: 50%;
    float: right;
    margin-top: 0;
}

li{
    float: right;
    display: block;
    padding-right: 10%;
}

a {
    color: #ff0099;
}

body {
    background-image: url("topography.png");
    font-family: Courier, monospace;
    margin: 0px;
}

main{
    padding-right: 10%;
    padding-left: 10%;
}

#description{
    color: #ff0099;
}

.center, section {
    text-align: center;
}